<mat-grid-list cols="4" rowHeight="100px" *ngIf="currentProfile">
    <mat-grid-tile [colspan]="1" [rowspan]="2">
    <img src="{{currentProfile.profileImage.link}}" *ngIf="currentProfile.profileImage!=null">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="3">
      <mat-list role="list">
        <mat-list-item role="listitem">{{currentProfile.firstName}} {{currentProfile.lastName}}</mat-list-item>
        <mat-list-item role="listitem">{{currentProfile.gender}}</mat-list-item>
        <mat-list-item role="listitem">{{currentProfile.birthDate | date:'dd/MM/yyyy'}}</mat-list-item>
        <mat-list-item role="listitem">{{currentProfile.meetGoal}}</mat-list-item>
        <mat-list-item role="listitem">{{currentProfile.interests}}</mat-list-item>
        <mat-list-item role="listitem">{{currentProfile.other}}</mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="2" *ngIf="currentProfile.images!=null">
      <div class="image-container" *ngFor="let image of currentProfile.images">
        <img src="{{image.link}}" >
      </div>
    </mat-grid-tile>
  </mat-grid-list>
