<mat-toolbar color="primary">
  
    <mat-toolbar-row>
        <a mat-button *ngIf="isUserLoggedIn" [routerLink]="[currentUser.token.username]">{{currentUser.token.username}}</a>
        <a mat-button *ngIf="!isUserLoggedIn" routerLink="/login">login</a>
        <a mat-button *ngIf="!isUserLoggedIn" routerLink="/registration">registration</a>
        <a mat-button routerLink="/find">search</a>
        <a mat-button *ngIf="isUserLoggedIn" routerLink="/updateprofile">registration</a>
        <a mat-button *ngIf="isUserLoggedIn" routerLink="/updateprofileimages">registration</a>
        <a mat-button *ngIf="isUserLoggedIn" routerLink="/updateprofilepicture">registration</a>
        <a mat-button *ngIf="isUserLoggedIn" (click)="onLogout()">logout</a>
    </mat-toolbar-row>

  </mat-toolbar>